@import url('https//fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap'); 

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Playfair Display', serif;
} 

footer{
  background-color: #111;
  padding: 100px 0 30px;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer .row{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .row .col{
  flex-basis: 25%;
  padding: 10px;
}
footer .row .col .logo{
  color: #298;
  text-transform: uppercase;
  display: block;
  margin-bottom: 40px;
  text-decoration: none;
}
footer .row .col h3{
  font-size: 1.2em;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
footer .row .col h3::after{
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 30px;
  height: 8px;
  background-color: #298;
}
footer .row .col li{
  list-style: none;
  margin-bottom: 12px;
}
footer .row .col li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: .3s;
}
footer .row .col li a:hover{
  color: #298;
  padding-left: 2px;
}
footer .row .col:nth-child(2) {
  flex-basis: 15%;
}
footer .row .col:nth-child(3) p{
  margin-bottom: 12px;
  text-transform: capitalize;
}
footer .row .col i{
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
  border: 1px solid #298;
  text-align: center;
  transition: .3s;
}
footer .row .col i:hover{
  background-color: #298;
}
@media (max-width: 700px){
  footer{
    position: unset;
  }
  footer .row .col{
    flex-basis: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
}